/* add your css styles here! */
body {
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
  
}

.col {
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
}
#hero-text {
    font-size: 40pt;
}
.wrapper {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px; 
    border: 1px solid black;
}

#slide {
    position: absolute;
    left: -100px;
    width: 200px;
    height: 200px;
    background: transparent;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
