/* add your css styles here! */
body {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom right, #A2B7C6, #1C2A34); 
  
}


.col {
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
}
#hero-text {
    font-size: 40pt;
}
